.viewer {
  font: 12px/1.4 var(--monospace-font);
  position: relative;
}

.viewer-yaml {
  background: white;
  border-radius: 5px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px;

  width: 400px;
  height: fit-content;
}

.viewer-ui {
  display: flex;
  width: fit-content;
  height: fit-content;

  margin-bottom: 20px;
  position: sticky;
  top: 10px;
  z-index: 5;

  background: white;
  padding: 0px;
  border-radius: 5px;
  overflow: hidden;
  /* border: 3px solid #eff0f3; */

  box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 0% / 0.08),
    0.8px 1.5px 1.9px -0.8px hsl(0deg 0% 0% / 0.08),
    1.8px 3.6px 4.6px -1.6px hsl(0deg 0% 0% / 0.08),
    4.4px 8.7px 11px -2.4px hsl(0deg 0% 0% / 0.08);
}

.viewer-ui > svg {
  height: 250px;

  > *:first-child {
    > #BACKGROUND {
      opacity: 0.5;
      filter: saturate(0);
    }

    > *:not(#BACKGROUND) {
      opacity: 0;
      filter: saturate(0);
      transition: 0.2s;

      &.highlight,
      &.pinned {
        opacity: 1;
      }
    }
  }
}

.v-obj-value {
  margin-left: 10px;
  position: relative;
}

.show-primitives-inline .v-obj-entry.is-single-line {
  display: flex;

  > .v-obj-value {
    margin-left: 0px;
  }
}

.v-obj {
  position: relative;
}

.v-string-type {
  color: black;
}

.show-syntax-highlighting .v-string-type {
  color: rgb(201, 80, 19);
}

.v-obj,
.v-array,
.v-string,
.v-obj-value,
.v-obj-key,
.v-array-entry {
  display: flex;
  width: fit-content;
}

.v-string {
  cursor: pointer;
  white-space: pre;
  padding: 0px 3px;
  border-radius: 5px;
  transition: 0.2s;
  color: black;

  &.highlight {
    color: black !important;
    * {
      color: black !important;
    }

    opacity: 1;
    background: #9393933b;
  }

  &.pinned {
    color: black !important;
    * {
      color: black !important;
    }

    opacity: 1;
    background: #7fb3f73b;
    color: #002160;
  }
}

.show-syntax-highlighting .v-string {
  color: #2476d3;
}

.v-string.v-key {
  color: black;

  &::after {
    content: ":";
    color: rgb(104, 104, 104);
  }
}

.show-syntax-highlighting .v-string.v-key {
  color: rgb(37, 154, 14);
}

.v-array > * {
  &::before {
    content: "-";
    margin-right: 5px;
    color: rgb(104, 104, 104);
  }
}

.v-obj-key {
  display: flex;
}

.v-string:not(.matched) {
  opacity: 0.2;
  color: black !important;
  cursor: default;

  * {
    color: black !important;
  }
}
