/* ----------------------- Resize ----------------------- */

.resizable {
  display: flex;

  > .resizable-handle {
    user-select: none;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &.being-dragged {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &.horizontal > .resizable-handle {
    border-left: 1px solid rgba(255, 255, 255, 0.175);
    width: 10px;
    cursor: ew-resize;
    height: auto;
  }

  &.vertical > .resizable-handle {
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.175);
    height: 10px;
    cursor: ns-resize;
    width: auto;
  }
}

/* ------------------------ Tabs ------------------------ */
.tabs-toggles {
  display: flex;
  border-right: 1px solid rgba(0, 0, 0, 0.164);
  padding: 1em 1em;
  overflow: auto;
  padding-bottom: 200px;

  > *:not(.vtabs-header):not(.cost-matrix) {
    /* margin-left: 15px; */
    opacity: 0.6;
    padding: 3px 0px;
    cursor: pointer;
    font-size: 14px;
    white-space: pre;

    &.active {
      text-decoration: underline;
      opacity: 1;
    }

    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }

  > .vtabs-header {
    margin-bottom: 10px;
    opacity: 0.4;
  }
}

.tabs-panes {
  display: flex;
  flex-grow: 1;
  overflow: auto;

  > *:not(.active) {
    display: none !important;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
}

.vtabs {
  flex-direction: row;
  height: 100%;

  > .tabs-toggles {
    flex-direction: column;
  }
}

/* ----------------------- Stacks ----------------------- */
.stack {
  display: flex;

  &.vstack {
    flex-direction: column;
  }
}
