.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.analogy-viewer {
  padding: 4em;
  width: 100%;
  display: flex;
  height: fit-content;
  width: fit-content;
  margin-bottom: 200px;
  flex-direction: column;
}

.analogy-info {
  margin-top: 30px;
}

.connection-path {
  fill: #000000;
  stroke: black;
  stroke-width: 1px;
  opacity: 0;

  &.highlight,
  &.pinned {
    fill: #7a7a7a;
    stroke: #7a7a7a;
    opacity: 0;
  }
}

.analogy-viewer-viewers {
  display: flex;
  gap: 40px;
  width: 100%;

  height: fit-content;
  width: fit-content;
  margin-top: 30px;
}

.analogy-viewer-options {
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.analogy-viewer-options:hover {
  opacity: 1;
}
