.cost-matrix {
  display: none;
  bottom: 0px;
  right: 0px;
  flex-direction: column;
  padding: 10px;
  padding-top: 100px;
  padding-left: 90px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);
  font-size: 14px;
  margin-bottom: 10px;
}

.cost-matrix.visible {
  display: flex;
}

.cost-matrix-item {
  width: 18px;
  height: 18px;
  margin: 1px;
  /* background-color: rgb(171, 209, 196); */
  /* border: 1px solid rgba(0, 0, 0, 0.171); */
  overflow: visible;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
}

.cost-matrix-item:hover {
  border: 2px solid rgba(0, 0, 0, 0.297);
}

.cost-matrix-row {
  display: flex;
  position: relative;
  overflow: visible;
}

.cost-matrix-row-label {
  position: absolute;
  right: 25px;
  top: 0px;
  white-space: pre;
}

.cost-matrix-col-label {
  position: absolute;
  bottom: 25px;
  left: 0px;
  white-space: pre;
  writing-mode: sideways-lr;
}

.cost-matrix-item.active {
  border: 2px solid black;
}
