.cm-editor,
.cm-scroller {
  font: 13px var(--monospace-font) !important;
  width: 100%;
}

.cm-editor.cm-focused {
  outline: none !important;
}

.cm-content {
  padding: 10px 0px !important;
  width: 100%;
}

.cm-selectionMatch {
  background-color: #0000001a !important;
}

.cm-gutters {
  background: none !important;
}

.cm-lineNumbers .cm-gutterElement {
  padding: 0 10px 0 10px !important;
}

.cm-gutter.cm-lineNumbers {
  opacity: 0.6;
}

.codemirror-wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  > .cm-editor {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
}

.ͼp {
  font-variation-settings: "wght" 800 !important;
}

.cm-line > * {
  font-variation-settings: "wght" 400;
  transition-property: font-variation-settings color;
  transition-duration: 0.2s;
}

.cm-tooltip {
  background: rgb(239, 240, 243) !important;
  border: 1px solid rgb(189, 191, 204) !important;
  border-radius: 6px !important;
  box-shadow: rgba(89, 85, 101, 0.2) 0px 4px 12px 0px !important;
  overflow: hidden !important;
  font-size: 12px;
  transform: scale(0.9);
}

.cm-tooltip-autocomplete > ul > li[aria-selected] {
  background: rgb(0, 122, 255) !important;
  color: rgb(253, 253, 253) !important;
}

.cm-tooltip-autocomplete {
  max-width: 100px !important;
  overflow: hidden;
}

.cm-tooltip-autocomplete > ul > li {
  font-family: var(--monospace) !important;
  padding: 4px 8px 4px 4px !important;
  line-height: 1.1 !important;
}
