@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --monospace-font: "Ubuntu Mono";
  --header-font: "EB Garamond";
  --sans-serif-font: "Source Sans 3";
  --serif-font: serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

html {
  overflow-y: scroll;
  height: 100%;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 4em;
  color: black;
  font-family: var(--sans-serif-font);
  font-optical-sizing: auto;
  background-color: #eff0f3;
  overflow: auto;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  padding: 2em;
  width: fit-content;
}

h1 {
  font-family: var(--header-font);
  margin-bottom: 40px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 2em;
}

hr {
  margin: 200px 0px;
  opacity: 0.2;
}
