@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --monospace-font: "Ubuntu Mono";
  --header-font: "EB Garamond";
  --sans-serif-font: "Source Sans 3";
  --serif-font: serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

html {
  height: 100%;
  word-wrap: break-word;
  margin: 0 auto;
  color: black;
  font-family: var(--sans-serif-font);
  font-optical-sizing: auto;
  background-color: #eff0f3;
  overflow: hidden;
}

header {
  padding: 0em 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(51, 56, 73, 0.05);
  display: flex;
  flex-direction: column;
}

section {
  height: 100%;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

#app {
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-family: var(--header-font);
}

h1 {
  font-weight: 400;
  font-size: 2em;
}

hr {
  margin: 200px 0px;
  opacity: 0.2;
}

.title {
  margin-bottom: 0px;
  padding: 0px;
  line-height: 1em;
}

.subtitle {
  margin: 15px 0px;
  opacity: 1;
  font-family: var(--header-font);
  font-size: 1.3em;
}

pre {
  margin: 5px 0px;
}

.viewer-ui > .container {
  max-width: 109px;
  max-height: 3px;
}
